.about-hero-container {
  position: relative;
  margin-bottom: 30px;
  width: 100vw;
  height: 350px;
}
.img-1 {
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
.hero-msg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #e3e3e3;
  font-size: 32px;
  letter-spacing: 1.5px;
  z-index: 6;
}
.content-container {
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
}
.title-container {
  width: 260px;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  background: #4e4d4d;
  height: 2px;
  width: 30px;
}
.title {
  color: #4e4d4d;
  margin: 0 10px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
}
.about-container {
  background: #f2f2f2;
  outline: 2px solid #4e4d4d;
  outline-offset: -15px;
  margin: 0 auto 30px;
  color: #4e4d4d;
  list-style-type: none;
  height: 350px;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.heading {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 30px 0 30px;
}
.msg {
  margin: 0 auto;
  width: calc(90% - 30px);
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
}
.about-hero-two-container {
  position: relative;
  width: 100vw;
  height: 300px;
  background-position: center bottom;
  background-size: 600px;
  background-image: url(../../images/about-hero.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
