.about-hero-container {
  position: relative;
  margin-bottom: 30px;
  width: 100vw;
  height: 350px;
}
.img-1 {
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
.hero-msg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #e3e3e3;
  font-size: 32px;
  letter-spacing: 1.5px;
  z-index: 6;
}
.content-container {
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
  z-index: 5;
}
.title-container {
  width: 260px;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  background: #4e4d4d;
  height: 2px;
  width: 30px;
}
.title {
  color: #4e4d4d;
  margin: 0 10px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
}
.about-section {
  margin: 0 auto;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 30px;
  column-gap: 0;
  margin: 0 auto 30px;
}
.about-section-one {
  background: #f2f2f2;
  outline: 2px solid #4e4d4d;
  outline-offset: -15px;
  color: #4e4d4d;
  list-style-type: none;
  height: 400px;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-section-two {
  position: relative;
  width: 100%;
  height: 350px;
}
.about-section-img {
  object-fit: cover;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.heading {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 0 30px;
}
.msg {
  margin: 0 auto;
  width: calc(90% - 30px);
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
}
.included-section {
  width: calc(90vw);
  height: 475px;
  margin: 0 auto 30px;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  align-items: center;
  column-gap: 30px;
  overflow-x: auto;
}
.included-subsection {
  height: 450px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.img-container {
  position: relative;
  height: 50%;
  margin-bottom: 20px;
}
.included-section-img {
  object-fit: cover;
  position: absolute;
  top: -50px;
  left: 0;
}
.text-container {
  padding: 0 15px;
}
.subsection-heading {
  color: #4e4d4d;
  font-size: 24px;
  letter-spacing: 0.75px;
  font-weight: 500;
  margin-bottom: 10px;
}
.subsection-text {
  font-size: 16px;
  line-height: 2;
}
.about-hero-two-container {
  position: relative;
  width: 100vw;
  height: 300px;
  background-position: center bottom;
  background-size: 900px;
  background-image: url(../public/images/about-hero-img-2-640x427.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.about-hero-two-img-container-mobile {
  position: relative;
  width: 100vw;
  height: 350px;
}
.about-hero-img-two {
  object-fit: cover;
}
.about-hero-two-container-2 {
  background: transparent;
  position: relative;
  width: 100vw;
  height: 400px;
}
.about-hero-img-2 {
  position: fixed !important;
  top: 1769.55px !important;
  left: 0 !important;
  height: 1280px !important;
  width: 1920px !important;
  z-index: 1;
}
@media (min-width: 1000px) {
  .about-hero-container {
    height: 400px;
  }
  .hero-msg {
    font-size: 42px;
    letter-spacing: 2px;
  }
  .title-container {
    margin: 0 auto 60px;
  }
  .title {
    font-size: 32px;
  }
  .about-hero-two-container {
    height: 400px;
    background-position: center center;
    background-image: url(../public/images/about-hero-img-2-1920x1280.jpg);
    background-size: 100vw;
  }
  .about-section {
    flex-direction: row;
    max-width: 70vw;
    row-gap: 0;
    column-gap: 30px;
    margin: 0 auto 60px;
  }
  .about-section-two,
  .about-section-one {
    height: 450px;
  }
  .included-section {
    max-width: calc(70vw + 30px);
    margin: 0 auto 60px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .included-subsection {
    width: 350px;
  }
  .subsection-heading {
    margin-bottom: 20px;
  }
}
@media (min-width: 1350px) {
  .about-hero-container {
    height: 500px;
  }
  .hero-msg {
    font-size: 48px;
  }
  .about-hero-two-container {
    height: 600px;
  }
  .about-section {
    max-width: 55vw;
  }
  .included-section {
    max-width: calc(70vw + 30px);
    margin: 0 auto 60px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .included-subsection {
    width: 350px;
  }
  .subsection-heading {
    margin-bottom: 20px;
  }
}
