.bg {
  background: #f8f8f8;
  width: 100vw;
}
.container {
  max-width: 70vw;
  height: calc(100vh - 150px);
  margin: 90px auto 0;
  display: grid;
  grid-template-columns: 4fr 11fr;
  grid-template-rows: 500px;
  column-gap: 60px;
  align-content: center;
}
.form-container {
  max-width: 25vw;
}
.form {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.title {
  text-align: center;
  margin-bottom: 30px;
  align-self: center;
  color: #777;
  font-size: 22px;
  font-weight: 500;
}
.input {
  display: block;
  width: 100%;
  padding: 9px 10px;
  color: #777;
  font-size: 15px;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}
.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  font-size: 15px;
  width: 100%;
  color: #f8f8f8;
  background: #454545;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 10px 0;
  letter-spacing: 0.75px;
  transition: background 0.3s;
}
.btn:first-of-type {
  margin: 30px 0 15px;
}
.btn:nth-of-type(2) {
  background: #777;
}
.btn:hover {
  cursor: pointer;
}
.links-container {
  align-self: center;
}
.link {
  font-size: 15px;
  display: inline-block;
  margin: 0 10px;
  color: #454545;
}
.dot {
  color: #585e71;
}
.status-msg {
  color: #4e4d4d;
  font-size: 18px;
  margin: 15px auto;
}
.error-msg {
  color: #e91212;
}
.forgot-password-success {
  margin: 0 auto 15px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}
.comms-question {
  margin: 15px 0 10px;
  color: #4e4d4d;
  font-size: 15px;
}
.label-text {
  color: #4e4d4d;
  font-size: 15px;
}
.input-radio:not(:first-of-type) {
  margin-left: 10px;
}
.selection-container {
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.barber-select {
  cursor: pointer;
  outline: none;
  color: #4e4d4d;
  background: #fff;
  width: 100%;
  appearance: none;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 10px 10px;
}
.icon {
  position: absolute;
  right: 10px;
  top: 50px;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.label {
  margin-bottom: 10px;
  color: #4e4d4d;
  font-size: 18px;
}
.list-container {
  max-height: 450px;
  overflow-y: auto;
}
.table {
  width: 100%;
}
.table-head {
  border-bottom: 1px solid #bbb;
}
.table-heading {
  color: #4e4d4d;
  font-size: 18px;
  font-weight: 500;
}
.cell {
  color: #4e4d4d;
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  text-align: center;
  height: 40px;
  width: 25%;
}
.delete-icon {
  cursor: pointer;
  color: #e91212;
}

@media (max-width: 1500px) {
  .container {
    max-width: 80vw;
    padding-top: 60px;
    height: fit-content;
    grid-template-columns: 6fr 11fr;
  }
  .form-container {
    max-width: 30vw;
  }
}
