.container {
  max-width: 90vw;
  margin: 0 auto 30px;
}
.title-container {
  width: 260px;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  background: #4e4d4d;
  height: 2px;
  width: 30px;
}
.title {
  color: #4e4d4d;
  margin: 0 10px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
}
.imgs-container {
  max-width: 90vw;
  height: 280px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 43vw);
  overflow-x: auto;
  column-gap: 15px;
}
.img-container {
  position: relative;
  height: 250px;
  width: 43vw;
}
.img {
  object-fit: cover;
}
@media (min-width: 650px) {
  .imgs-container {
    max-width: 90vw;
    height: 530px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 43vw);
    overflow-x: auto;
    column-gap: 15px;
  }
  .img-container {
    position: relative;
    height: 500px;
    width: 43vw;
  }
  .img {
    object-fit: cover;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 70vw;
    margin-bottom: 60px;
  }
  .title-container {
    width: fit-content;
    margin: 0 auto 60px;
  }
  .title {
    font-size: 32px;
  }
  .imgs-container {
    grid-template-columns: repeat(3, 500px);
    height: fit-content;
  }
  .img-container {
    width: 500px;
    height: 500px;
  }
}
