.appt-container {
  width: 100%;
  height: 250px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #4e4d4d;
}
.header {
  width: 100%;
  padding-bottom: 5px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  border-bottom: 1px solid #bbb;
}
.cell {
  font-family: 'Roboto', sans-serif;
  padding-top: 15px;
  width: 100%;
  text-align: center;
}
.btns-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}
.confirm-btn {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 8px 20px;
  width: fit-content;
  background: #777;
  border: 2px solid #777;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.7px;
  cursor: pointer;
  color: #e3e3e3;
}
.cancel-btn {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding: 8px 20px;
  margin-right: 20px;
  width: fit-content;
  background: #e91212;
  border: 2px solid #e91212;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.7px;
  cursor: pointer;
  color: #e3e3e3;
}
.status-msg {
  width: fit-content;
}
.error-msg {
  color: #e91212;
}
.appt-container-mobile {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto; /* Two columns: one for headers, one for data */
  align-items: center;
  gap: 10px; /* Space between rows and columns */
  /* Add more styling as needed */
}
@media (max-width: 550px) {
  .header {
    margin-bottom: 15px;
    padding-bottom: 0px;
    text-transform: none;
    border-bottom: none;
  }
  .cell {
    margin-bottom: 15px;
    padding-top: 0px;
    width: 100%;
    text-align: start;
  }
  .confirm-btn,
  .cancel-btn {
    margin-top: 15px;
  }
  .status-msg {
    margin-top: 15px;
    grid-column: 1 / -1;
  }
}
