.hero-img-container {
  position: relative;
  margin-bottom: 30px;
  height: 400px;
  width: 100vw;
  text-align: center;
}
.img {
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
.hero-msg {
  position: absolute;
  width: 75vw;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: #e3e3e3;
  line-height: 1.5;
  z-index: 6;
}
.hero-btn {
  display: inline-block;
  position: relative;
  padding: 10px 30px 10px 10px;
  margin-top: 240px;
  width: 160px;
  border: none;
  background: #777;
  color: #e3e3e3;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  z-index: 6;
}
.hero-btn:hover {
  cursor: pointer;
}
.hero-scissors {
  position: absolute;
  top: 30%;
  right: 13%;
  color: #e3e3e3;
}
@media (min-width: 1000px) {
  .hero-img-container {
    height: 600px;
    margin-bottom: 60px;
  }
  .hero-msg {
    width: 500px;
    font-size: 32px;
  }
  .hero-btn {
    position: absolute;
    margin-top: 0;
    top: 325px;
    left: 50%;
    transform: translateX(-50%);
  }
}
